<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
    
    <bean id="httpSessionStrategy" class="org.util.CookieHttpSessionStrategy"/>
    
    <bean class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration">
        <property name="httpSessionStrategy" ref="httpSessionStrategy"/> 
        <property name="maxInactiveIntervalInSeconds" value="${redis.expireTime}"/>
    </bean>

	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="${redis.maxIdle}"/>
		<property name="maxTotal" value="${redis.maxTotal}"/>
	</bean>

   <bean id="redisClusterConfiguration" class="org.springframework.data.redis.connection.RedisClusterConfiguration">
		<property name="maxRedirects" value="${redis.maxRedirects}"/>
		<!-- 节点配置 -->
		<property name="clusterNodes">
			<set>
				<bean class="org.springframework.data.redis.connection.RedisClusterNode">
					<constructor-arg name="host" value="${redis.host1}"/>
					<constructor-arg name="port" value="${redis.port1}"/>
				</bean>
				<bean class="org.springframework.data.redis.connection.RedisClusterNode">
					<constructor-arg name="host" value="${redis.host2}"/>
					<constructor-arg name="port" value="${redis.port2}"/>
				</bean>
				<bean class="org.springframework.data.redis.connection.RedisClusterNode">
					<constructor-arg name="host" value="${redis.host3}"/>
					<constructor-arg name="port" value="${redis.port3}"/>
				</bean>
			</set>
		</property>
	</bean>
	<bean id="jeidsConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<!-- <constructor-arg ref="redisClusterConfiguration"/>
		<constructor-arg ref="jedisPoolConfig"/> --> 
		
		<property name="hostName" value="${redis.host}"/>  
    	<property name="port" value="${redis.port}"/>  
    	<property name="poolConfig" ref="jedisPoolConfig"/> 
	</bean>
	<bean id="stringRedisSerializer"
        class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
    <bean id="jdkSerializer"
        class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="jeidsConnectionFactory"/>
		<property name="keySerializer" ref="stringRedisSerializer"/>
        <property name="hashKeySerializer" ref="stringRedisSerializer"/>
        <property name="valueSerializer" ref="jdkSerializer"/>
        <property name="hashValueSerializer" ref="jdkSerializer"/>
	</bean>
</beans>