###main entry ignore###
target/
.classpath
.project
.settings
.idea/
*.iws
*.iml
*.ipr
out/

###viva-api###
viva-api/target/
viva-api/.classpath
viva-api/.project
viva-api/.settings
viva-api/.idea/
viva-api/*.iws
viva-api/*.iml
viva-api/*.ipr
viva-api/out/

###viva-j2se###
viva-j2se/target/
viva-j2se/.classpath
viva-j2se/.project
viva-j2se/.settings
viva-j2se/.idea/
viva-j2se/*.iws
viva-j2se/*.iml
viva-j2se/*.ipr
viva-j2se/out

###viva-solr-test###
viva-solr-test/target/
viva-solr-test/.classpath
viva-solr-test/.project
viva-solr-test/.settings
viva-solr-test/.idea/
viva-solr-test/*.iws
viva-solr-test/*.iml
viva-solr-test/*.ipr
viva-solr-test/out/

###viva-ssm###
viva-ssm/target/
viva-ssm/.classpath
viva-ssm/.project
viva-ssm/.settings
viva-ssm/.idea/
viva-ssm/*.iws
viva-ssm/*.iml
viva-ssm/*.ipr
viva-ssm/out/