###父项目站点###
target/
.classpath
.project
.settings
.idea/
*.iws
*.iml
*.ipr
out/

###子项目viva-api###
viva-api/target/
viva-api/.classpath
viva-api/.project
viva-api/.settings
viva-api/.idea/
viva-api/*.iws
viva-api/*.iml
viva-api/*.ipr
viva-api/out/

###子项目viva-service###
viva-service/target/
viva-service/.classpath
viva-service/.project
viva-service/.settings
viva-service/.idea/
viva-service/*.iws
viva-service/*.iml
viva-service/*.ipr
viva-service/out/

###子项目viva-web###
viva-web/target/
viva-web/.classpath
viva-web/.project
viva-web/.settings
viva-web/.idea/
viva-web/*.iws
viva-web/*.iml
viva-web/*.ipr
viva-web/out/

###子项目viva-j2se###
viva-j2se/target/
viva-j2se/.classpath
viva-j2se/.project
viva-j2se/.settings
viva-j2se/.idea/
viva-j2se/*.iws
viva-j2se/*.iml
viva-j2se/*.ipr
viva-j2se/out

###子项目viva-solr-test###
viva-solr-test/target/
viva-solr-test/.classpath
viva-solr-test/.project
viva-solr-test/.settings
viva-solr-test/.idea/
viva-solr-test/*.iws
viva-solr-test/*.iml
viva-solr-test/*.ipr
viva-solr-test/out/

###子项目viva-spring-ocean###
viva-spring-ocean/target/
viva-spring-ocean/.classpath
viva-spring-ocean/.project
viva-spring-ocean/.settings
viva-spring-ocean/.idea/
viva-spring-ocean/*.iws
viva-spring-ocean/*.iml
viva-spring-ocean/*.ipr
viva-spring-ocean/out/