<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--shiro过滤器-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="login.html"/>
        <property name="unauthorizedUrl" value="403.html"/>
        <property name="filterChainDefinitions">
            <value>
                /index.html = anon
                /login.html = anon
                /doLogin = anon
                /* = authc
            </value>
        </property>
    </bean>

    <!--创建shiro的web seucurity环境-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--添加自定义realm-->
        <property name="realm" ref="customRealm"/>
        <!--添加自定义sessionManager-->
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!--自定义realm-->
    <bean id="customRealm" class="com.tequeno.realms.CustomRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>

    <!--加密算法-->
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="1"/>
    </bean>

    <!--设置web环境下session-->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="redisSessionDao"/>
    </bean>

    <!--自定义sessionDao-->
    <bean id="redisSessionDao" class="com.tequeno.utils.RedisSessionDao"/>
</beans>