<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teuqueno.mapper.dao.sys.UmRoleInfoMapper">
  <resultMap id="BaseResultMap" type="com.teuqueno.entity.sys.UmRoleInfo">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
    <result column="create_by_id" property="createById" jdbcType="VARCHAR"/>
    <result column="modify_by_id" property="modifyById" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
  </resultMap>
</mapper>