<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://java.sun.com/xml/ns/javaee" 
		xsi:schemaLocation="
			http://java.sun.com/xml/ns/javaee 
			http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		version="3.0">
  <display-name>viva-ssm</display-name>
  <description>演示demo</description>
  <context-param>
   <param-name>contextConfigLocation</param-name>
   <param-value>
		classpath:xml/spring-mybatis.xml,
		classpath:xml/spring-session.xml,
		classpath:xml/spring-solr.xml
	</param-value>
  </context-param>
  <!-- 配置日志 logback-->
  <context-param>
     <param-name>logbackConfigLocation</param-name>
     <param-value>classpath:xml/logback.xml</param-value>
  </context-param>
  <!-- logback扩展，监听,用于解决与spring的结合 -->
  <listener>
    <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
  </listener>
  <listener>
   <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class> 
  </listener>
  <listener>
    <listener-class>org.util.ContextParamListener</listener-class>
  </listener>
 
  <filter>
    <filter-name>springSessionRepositoryFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSessionRepositoryFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>compressingFilter</filter-name>
    <filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>compressingFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>compressingFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>compressingFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>compressingFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>compressingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:xml/spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
 	</servlet>
  <servlet-mapping>
  <servlet-name>appServlet</servlet-name>
  <url-pattern>*.do</url-pattern>
</servlet-mapping>

<servlet>  
    <servlet-name>CXFServlet</servlet-name>  
    <servlet-class>  
           org.apache.cxf.transport.servlet.CXFServlet  
    </servlet-class>  
</servlet>  

<servlet-mapping>  
     <servlet-name>CXFServlet</servlet-name>  
     <url-pattern>/ws/*</url-pattern>  
</servlet-mapping>

 <welcome-file-list>
   <welcome-file>/index.html</welcome-file>
 </welcome-file-list>
 <!-- 错误页面跳转 -->
 <error-page>
   <error-code>404</error-code>
   <location>/404.html</location>
 </error-page>
 <error-page>
   <error-code>500</error-code>
   <location>/500.html</location>
 </error-page>
</web-app>