<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="application.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="skipSetAutoCommitOnClose" value="true"/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${sqlite.driver}"/>
                <property name="url" value="${sqlite.url}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/HeroMapper.xml"/>
        <mapper class="com.tequeno.mapper.EmpMapper"/>
<!--        <package name="com.tequeno.mapper"/>-->
    </mappers>
</configuration>